.title {
  width: 100%;
  top: 0;
  position: sticky;
}

.sidebar {
  background: rgb(28, 30, 31);
  height: 100vh;
  top: 6.3%;
  position: sticky;
}

.header {
  display: flex;
  justify-content: center;
}

.maillist {
  top: 6.3%;
  position: sticky;
}

.maildetail {
  height: 100vh;
  top: 6.3%;
  position: sticky;
  overflow: scroll;
}