.title {
  width: 100%;
  top: 0;
  position: sticky;
  display: flex;
  background: rgb(193, 210, 224);
  border-bottom: ridge 2px #436A7C;
}

.title img {
  width: 50px;
  height: 50px;
}

.title .logout {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #436A7C;
}

.title .proname {
  /* justify-content:right; */
  font-family: serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 36px;
  color: #436A7C;
}

.grid {
  background: rgb(243, 245, 246);
}

.sidebar {
  /* background: #B6CDDE; */
  height: 100vh;
  top: 52px;
  position: sticky;
  background: rgb(194, 209, 222);
  border-right: ridge 2px;
}

.sidebar .header {
  display: flex;
  justify-content: space-evenly;
  -moz-box-shadow:0px 3px 8px #B6CDDE;
  -webkit-box-shadow:0px 3px 8px #B6CDDE;
  box-shadow:0px 3px 3px #B6CDDE;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 36px;
  color: #436A7C;
  background: rgb(239, 242, 244);
}

.maillist {
  top: 52px;
  position: sticky;
  background: rgb(243, 245, 246);
}

.maillist .listitem {
  border-bottom: 1px solid;
  background: rgb(243, 245, 246);
}

.maildetail {
  height: 100vh;
  top: 52px;
  position: sticky;
  overflow: scroll;
}