.title {
  width: 100%;
  top: 0;
  position: sticky;
  display: flex;
  background: rgb(255, 255, 255);
  /* border-bottom: ridge 2px #436A7C; */
  border-bottom: ridge 2px #FF8500;
}

.title img {
  width: 50px;
  height: 50px;
}

.title .logout {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #436A7C;
}

.title .proname {
  /* justify-content:right; */
  font-family: serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 36px;
  /* color: #436A7C; */
  color: #303F4E;
  /* color: #FF8500; */
  padding-top: 5px;
  padding-left: 5px;
}

.grid {
  background: rgb(243, 245, 246);
}

.sidebar {
  /* background: #B6CDDE; */
  height: 100vh;
  top: 52px;
  position: sticky;
  /* background: rgb(194, 209, 222); */
  border-right: ridge 2px;
}

.sidebar .header {
  display: flex;
  justify-content: space-evenly;
  -moz-box-shadow:0px 3px 8px #B6CDDE;
  -webkit-box-shadow:0px 3px 8px #B6CDDE;
  box-shadow:0px 3px 3px #B6CDDE;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 36px;
  /* color: #436A7C; */
  /* background: rgb(239, 242, 244); */
  background: #303F4E;
  color: rgb(239, 242, 244);
}

.sidebar .header .fengexian {
  font-family: monospace;
  font-size: 20px;
  font-weight: 100;
  color: rgb(243, 245, 246);
  /* color: #FF8500; */
}

.maillist {
  top: 52px;
  position: sticky;
  /* background: rgb(243, 245, 246); */
}

.maillist .listitem {
  /* border-bottom: 10px rigid; */
  /* background: rgb(243, 245, 246); */
  background: rgb(243, 245, 246);
}

.maillist .listitem .itemdetail {
  font-family: sans-serif;
  font-weight: 100;
  color: rgba(0,0,0,.87);
}

.maillist .listitem .itemdetail .detailtitle {
  font-family: sans-serif;
  font-weight: 200;
  color: rgba(0,0,0,.87);
}

.maildetail {
  height: 100vh;
  top: 52px;
  position: sticky;
  overflow: scroll;
}

.maildetail .contenthead {
  font-family: sans-serif;
  font-weight: 200;
  color: rgba(0,0,0,.87);
}

.maildetail .realcontent {
  font-family: sans-serif;
  font-weight: 100;
  color: rgba(0,0,0,.87);
}
